
     <%= link_to "Add a course", new_course_path, class: "btn btn-success" %>




<%# if session[:admin_id]  %>

<!-- <h1> show this </h1> -->

<%# else %>

  <% @courses.each do |c| %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="course">
        <h3><%=link_to "#{c.name.capitalize}", c %></h3>
        <p class="course-hours"><%= c.total_hours %>hrs</p>
      </div>
      <%= link_to 'Edit this course', edit_course_path(c), class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>


