// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'course-show';
.course{
  border: 2px solid #ededed;
margin-top: 10%;
padding: 20px;
max-height: 136.967px;
  h3{
    text-align: center;
  }
}

.course a{
  color: black;
}

.course a:hover{
  color: #464a4f;
  text-decoration: none
}

  .course:hover{
   box-shadow: 0px 0px 3px 0px grey;

  }

.course-hours{
  text-align: center;
font-size: 20px;
}

a.btn.btn-primary{
  width: 100%;
  background-color: #023b82;
  border-color:#023b82;
  border-radius: 3px;
}

a.btn.btn-primary:hover{
  box-shadow: 1px 1px 3px gray;
}
